{% assign volunteering = site.data.data.sidebar.volunteering %}
{% if volunteering %}
<div class="volunteering-container container-block">

  <h2 class="container-block-title">
    Volunteering
  </h2>

  <ul class="list-unstyled volunteering-list">
    {% for volunteer in volunteering %}

      {% if volunteer.link %}
      <li><a href="{{ volunteer.link }}">{{ volunteer.item }}</a></li>
      {% else %}
      <li>{{ volunteer.item }}</li>
      {% endif %}

    {% endfor %}
  </ul>

</div><!--//volunteering-->
{% endif %}
